<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
      xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context = "http://www.springframework.org/schema/context"
      xsi:schemaLocation = "http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">
      <context:annotation-config/>
	
	<bean id="lib" class="autowiring_demo.Library">
		<property name="deptName" value="IT" />
	</bean>
	
	<bean id="book2" class="autowiring_demo.Book">
		<property name="authorName" value="AAA" />
		<property name="bookName" value="C++" />
	</bean>
	<bean id="book1" class="autowiring_demo.Book">
		<property name="authorName" value="BBB" />
		<property name="bookName" value="Programing Java" />
	</bean>
	<!-- <bean id="book" class="autowiring_demo.Book">
		<constructor-arg value="CCC" type="String" />
		<constructor-arg value="DCN" type="String" />
	</bean> -->
	</beans>